#if(!$package.blank)
package $package;

#end
#foreach($import in $importList)
import $import;
#end

#if($table.remark)/**
* $table.remark
*/
#else/**
* Entity for table "$table.name"
*/
#end
#parseAnnotations($table.annotations)
public interface $table.property extends ${table.property}Base {
#foreach($field in $table.children)
    #if($velocityCount != 1)

    #end
    #if($field.remark)
    /**
    * $field.remark
    */
    #end
    #parseAnnotations($field.annotations)
    $field.type.name ${field.property}();
#end
}

#macro(parseAnnotations $annotations)
    #foreach($annotation in $annotations)
    @$annotation.name#if(!$annotation.parameters.empty)(#foreach($param in $annotation.parameters)
        #set($needQuote = $param.type.name == "String")
        $param.name = #if($needQuote)"#end$param.value#if($needQuote)"#end#if($velocityHasNext), #end
    #end)#end
    #end
#end
