#* @implicitly included *#
#* @vtlvariable name="package" type="java.lang.String" *#
#* @vtlvariable name="importList" type="java.util.List<java.lang.String>" *#
#* @vtlvariable name="table" type="top.fallenangel.jimmergenerator.model.DbObj" *#

#* @vtlvariable name="annotations" type="java.util.List<top.fallenangel.jimmergenerator.model.type.Annotation>" *#
#* @vtlvariable name="needLastLineBreak" type="java.lang.Boolean" *#
